table, th, td {
  border: 1px solid black;
  text-align:center;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
}


h1 {
  text-align: center;
}
form {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
label { padding : 0 10px; }

.submit_btn { margin-left : 20px; }

table { width : 100%; }
