<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IG-Scrapper</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Enter Profile URL with comma separator</h1>

    <form action="/", METHOD="POST">
      <label for="url_input">URLs:</label>
      <input type="text" id="url_input" name="url_input" style="width:70%"><br><br>
        <input type="submit" value="Submit" class="submit_btn">
      </form>
<br/>
    <table class="table">
  <thead>
    <tr>
<!--      <th scope="col">#</th>-->
      <th scope="col">ID</th>
      <th scope="col">AccountName</th>
      <th scope="col">status</th>
	  <th scope="col">File_Followers</th>
	  <th scope="col">File_Following</th>
        <th scope="col">TIMESTAMP</th>
    </tr>
  </thead>
	{% for i in results %}
	<tr>
	<th scope="row">{{i.id}}</th>
	<td>{{i.user_name}}
	</td>
	<td>{{i.status}}
	</td>
	<td><a href="{{i.followers_file}}">Download File</a>
	</td>
	<td><a href="{{i.following_file}}">Download File</a>
	</td>
        <td>{{i.timestamp}}
	</td>
	</tr>
	{% endfor %}
</table>

</body>
</html>